@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  font-family: "Roboto", sans-serif;
  --grey: #74798c;
  --black: #282d30;
  --red: #e60000;
}

body {
  width: 100vw;
}
